.impd-header-wrapper {
  background: black;
  min-height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.impd-header-content {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.impd-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.impd-logo h2 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.impd-logo-subtitle {
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  color: white;
  text-align: center;
}
.impd-back-btn {
  width: clamp(8rem, 5vw, 15rem);
  height: clamp(2rem, 5vw, 3rem);
  font-size: clamp(0.875rem, 1vw, 1rem);
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 0.3rem;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s ease-in-out;
}

.impd-back-btn:hover {
  background: white;
  color: black;
}

.impressum-wrapper {
  padding-bottom: 1.5rem;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.impressum-content {
  width: 80%;
  margin-top: 10rem;
}
.impressum-main-title {
  font-size: clamp(1.8rem, 2.5vw + 1rem, 2.5rem);
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

.impressum-subtitle-one {
  font-size: clamp(1.5rem, 2vw + 0.8rem, 2rem);
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 600;
}

.impressum-subtitle-two {
  font-size: clamp(1.2rem, 1.5vw + 0.7rem, 1.5rem);
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.imp-par {
  margin-bottom: 1rem;
}

ul,
ol {
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

.section:last-child {
  border-bottom: none;
}

.impressum-info-block {
  margin-bottom: 1.5rem;
}

.address {
  white-space: pre-line;
}

@media (max-width: 768px) {
  .impd-header-wrapper {
    min-height: 25vh;
  }
  .impd-header-content {
    flex-direction: column;
    padding: 0.8rem;
  }
  .impd-back-btn {
    margin-top: 1rem;
  }
  .impressum-content {
    margin-top: 13rem;
  }
}
