.lackieren-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lackieren-content {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.lackieren-title-text {
  color: white;
}

.lackieren-title-text > h1 {
  font-size: clamp(1.9rem, 4vw, 5rem);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.lackieren-title-text > p {
  font-size: clamp(0.85rem, 2vw, 1.1rem);
  line-height: 1.6;
  margin-bottom: 3rem;
  text-align: justify;
}

/* Responsive layout */
@media (max-width: 768px) {
  .lackieren-content {
    margin-top: 6rem;
  }

  .lackieren-title-text > h1 {
    text-align: center;
  }
}
